<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Satvik's Corona Plotter</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="container-fluid">
            <h1>Satvik's Corona Plotter</h1>
            <form action="#" method="POST">
                <div class="form-group">
                <label for="exampleInputEmail1">State</label>
                <input type="state" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="state" value="{{state}}">
                </div>
                <ul> 
                    <!-- For loop logic of jinja template -->
                    {%for i in range(0, len)%} 
                      
                        <li>{{counties[i]}}</li> 
                    {%endfor%} 
                      
                </ul> 
                <button type="submit" name="submit" value="county" class="btn btn-primary">See Counties/Cities</button>
                <button type="submit" name="submit" value="home" class="btn btn-primary">Back to Home</button>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>